html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
}

section {
  padding: 60px 24px;
  border-top: 1px solid rgba($text-primary, 0.06);
  border-bottom: 1px solid rgba($text-primary, 0.06);

  @media (max-width: 992px) {
    padding: 20px 24px;
  }
}
#main-content{
  margin-top: 91px;
}